@import url("https://use.typekit.net/zmw7ewd.css");
:root {
	--black: #000000;
}


body {
	margin: 0;
	font-size: 16px;
	line-height: 1.5;
	min-height: 2400px;
	font-family: degular, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	max-width: 64rem;
	margin: auto;
	margin-top: 66rem;
	padding: 0em 1rem;
}




/**
 * /snippets/component-button.liquid
 */
button {
	border: 0;
	border-radius: 0;
	display: inline-block;
	cursor: pointer;
	-webkit-appearance: none;
}
.button,
.button[role="button"],
input.button[type="submit"] {
	background-color: var(--black);
	font-weight: 500;
	letter-spacing: 0.05em;
	color: white;
	padding: 0.25rem 1.5rem 0.5rem;
	font-size: 1rem;
	line-height: 1;
	text-align: center;
	border-radius: 2rem;
	transition: all 0.15s ease-in-out;
	&.center {
		display: block;
		width: fit-content;
		margin: 0 auto;
	}
	&.white {
		background: white;
		color: var(--black);
	}
	&.block {
		display: block;
		width: fit-content;
	}
	&.outline {
		box-shadow: inset 0 0 0 2px var(--black);
		color: var(--black);
		background: none;
		&:hover {
			background: var(--black);
			color: white;
		}
	}
	@media screen and (min-width: 768px) {
		font-size: 1.5rem;
		padding: 0.625rem 1.5rem 0.75rem;
		border-radius: 3rem;
	}
	&.large {
		font-size: 1.5rem;
		padding: 0.625rem 1.5rem 0.75rem;
		border-radius: 3rem;
	}
}


@import 'facts';